<form method="post" action="/new">

  <label for="name">Name:</label>
  <input type='text' name='name'>

  <label for="name">Talent:</label>
  <input type='text' name='talent'>

  <strong>Is it a creepy clown?</strong>
  <label>
    Yes <input type="radio" name="is_creepy" value="true">
  </label>
  <label>
    No <input type="radio" name="is_creepy" value="false">
  </label>


  <button type="submit">Add new clown</button>

</form>
